


#global ignore files / directory 
TestingEvidence/
+.metadata/*
+.metadata/
.metadata/*
*.project

.metadata/
+.metadata/*
+.metadata/
test-output/*
test-output
test-output/
.metadata/.lock
*.index
